{{#if workouts.length}}
  {{#each workouts}}
    {{> workouts/item workout=this manageable=../manageable}}
  {{/each}}
{{else}}
  {{#if supabaseReady}}
    <p class="text-sm text-graphite/70 dark:text-fog/70">No workouts saved yet.</p>
  {{else}}
    <p class="text-sm text-orange dark:text-orange/80">Supabase is not configured yet. Add your credentials to start logging workouts.</p>
  {{/if}}
{{/if}}
