{{#with exercise}}
  <div hx-swap-oob="innerHTML:#exercise-form-messages">
    <p class="rounded-lg border border-teal/20 bg-teal/10 px-3 py-2 text-sm text-teal-dark dark:border-orange/40 dark:bg-orange/10 dark:text-orange">
      Exercise updated.
    </p>
  </div>
  {{> exercises/item exercise=this}}
{{/with}}
