<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#if pageTitle}}{{pageTitle}} | Gym Tracker{{else}}Gym Tracker{{/if}}</title>
    <link rel="stylesheet" href="/css/tailwind.css" />
    <script
      defer
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="min-h-screen bg-fog text-graphite dark:bg-ink dark:text-fog">
    <div class="flex min-h-screen bg-fog text-graphite dark:bg-ink dark:text-fog">
      <aside class="flex w-72 flex-col border-r border-graphite/10 bg-white/80 backdrop-blur-lg dark:border-ink/60 dark:bg-graphite/80">
        {{> navigation/sidebar active=activeNav}}
      </aside>
      <div class="flex min-h-screen flex-1 flex-col overflow-y-auto">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
